body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
}

h1 {
  color: #3a241d;
  text-align: center;
}

/* Make the page a positioning context for draggable cats */
#page {
  position: relative;
  min-height: 100vh;
}

#cat-tree {
  position: relative;
  width: 70%;
  height: 90vh;
  margin: 0 auto;
  background-image: url("./images/cat-tree.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Side containers */
#left-container {
  left: 0px;
}

#right-container {
  right: 0px;
}

.container {
  width: 15%;
  top: 0px;
  position: absolute;
  height: 100%;
  padding: 10px;
}

/* Cat slots */
.cat-holder {
  position: relative;
  height: 13%;
  left: -10px;
}

/* Draggable cats */
.cat {
  position: absolute;
  max-width: 150%;
  max-height: 150%;
  z-index: 2;
  touch-action: none;
  cursor: grab;
}

.cat:active {
  cursor: grabbing;
}
